button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding: 0 24px;
  border: 1px solid transparent;
  transition: all .1s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #495057;
}