.tag {
  background-color: #38dddd;
  border-radius: 4px;
  color: #fff;
  display: inline;
  margin: 0 8px 8px 0;
  padding: 8px 8px;
}

.tag--disabled {
  background-color: #d3d3d3;
}

.tag__loadingIndicator {
  height: 1.1em;
  width: 1.1em;
  margin: 0 4px 0 0;
  vertical-align: text-top;
}

.tag__icon {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  margin: 0 0 0 4px;
}

.tag__icon path {
  fill: #56638A;
}