.snackbar {
  background-color: #000;
  border-radius: 6px;
  font-size: .875em;
  max-width: 300px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.snackbar__text {
  color: #fff;
  margin: 0 4px 0 0;
  overflow: hidden;
}

.snackbar__button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.snackbar__button:hover {
  background-color: rgba(255, 0, 0, .2);
  color: red;
}