.tag-manager {
  max-width: 480px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 16px 32px;
  width: calc(100% - 32px);
}

.tag-manager__addTagInput {
  width: 100%
}

.tag-manager ul {
  max-height: 160px;
  overflow-y: auto;
}